<!DOCTYPE html>
{% block html %}
<html lang="en">
<head>
{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}{% endblock %} | Play2Learn</title>
{% endblock %}
</head>
<body>
    {% block body %}
    <header>
        <nav>
            <a href="{% url 'games:homepage' %}">Home</a> |
            <a href="{% url 'games:math-facts' %}">Math Game</a> |
            <a href="{% url 'games:anagram-hunt' %}">Anagram Game</a> |
            <a href="{% url 'games:game-scores' %}">Game Scores</a> |
            {% if not user.is_authenticated %}
            <a class="nav-link" href="{% url 'account_login' %}">Log in</a> |
            <a class="nav-link" href="{% url 'account_signup' %}">Sign up</a>
            
          {% else %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" 
                role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Me
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">My Account</a>
                <a class="dropdown-item" href="#">My Django Jokes</a>
                <div class="dropdown-divider"></div>
                <form method="post" action="{% url 'account_logout' %}">
                  {% csrf_token %}
                  <button class="btn dropdown-item">Log out</button>
                </form>
              </div>
            </li>
          {% endif %}
        </nav>
    </header>
    {% block main %}{% endblock %}
    {% endblock %}
</body>

</html>
{% endblock %}